XML_final/duluozlegend.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title type="main">The Duluoz Legend: a starter encoding guide</title>
            <title>ODD by Example customization</title>
         </titleStmt>
         <publicationStmt>
            <p>Unpublished first draft </p>
         </publicationStmt>
         <sourceDesc>
            <p>A starter guide towards an encoded edition of Jack Kerouac's so-called Duluoz Legend by Sidonie Bassaïstéguy for the XML-TEI course in the M2 TNAH at the École nationale des chartes.</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>
         <div type="editorial">
            <head>Preface to the edition</head>
            
            <epigraph><p>"My work comprises one vast book like Proust’s <emph rend="italic">Remembrance of Things Past</emph> except that my remembrances are written on the run instead of afterwards in a sick bed. Because of the objections of my early publishers I was not allowed to use the same personae names in each work. On the Road, The Subterraneans, The Dharma Bums, Doctor Sax, Maggie Cassidy, Tristessa, Desolation Angels and the others are just chapters in the whole work which I call The Duluoz Legend. In my old age I intend to collect all my work and reinsert my pantheon of uniform names, leave the long shelf full of books there, and die happy. The whole thing forms one enormous comedy, seen through the eyes of poor Ti Jean (me), otherwise known as Jack Duluoz, the world of raging action and folly and also of gentle sweetness seen through the keyhole of his eye."</p></epigraph>
            <p>Jack Kerouac (quoted in <emph rend="italic">Visions of Cody</emph>, reedited Penguin Books, 1993, ii).</p>
            
            <p>Such an edition of Jack Kerouac's works has never been undertaken in either physical or digital form. An XML-encoded digital edition of the novels would be particularly appropriate, as it allows to connect aliases of characters to their real names, as well as any other interconnected element. This is a test toward such a project.</p>
            <p>Three of Kerouac's books have been chosen: <emph rend="italic">On the Road</emph>, <emph rend="italic">The Subterraneans</emph>, and <emph rend="italic">Visions of Cody</emph>. Those three works have the advantage of portraying the same characters under different names. Thus, in each, Kerouac is respectively Sal Paradise, Leo Percepied, and Jack Duluoz. For the scope of this assignement, I have only selected the opening paragraphs of each novel (or, for <emph rend="italic">Visions of Cody</emph>, the first paragraph in which more than two real people are mentioned). A fuller edition might even provide: a list of the oft-mentioned musicians or actors, a list of all musical or literary references... Ultimately, it would map out the entire oeuvre of the author, even more than a Proustian series, it would be a reflection of the culture of 1940s to 1960s America through the eyes of a man who helped to define it.</p>
            
            <p>The aims of this edition project are as follow:<list rend="numbered">
               <item n="1">To provide a framework for a digital edition of The Duluoz Legend that links each of the books with the connecting characters and locations, by:</item>
               <item n="2">Defining a list of the recurring people in each book and to connect their aliases in the text with their real identity,</item>
               <item n="3">Providing a list of all the places mentioned, encoded in the text to highlight the most recently visited places and when, and to indicate when a place referred to in the book was actually another in real life (<emph rend="italic">The Subterraneans</emph>, for instance, is set in San Francisco, but the events actually took place in New York, so San Francisco will be identified in the encoding as New York.)</item>
            </list></p>
            
            <p>The following content will be a detailed description of the encoding choices made for the realisation of this project.</p>
         </div>
         
         <div>
            <head>Exploiting Metadata Through the Structured <gi>teiHeader</gi></head>
            
            <p>The <gi>teiHeader</gi> includes metadata describing the first edition of each book, copyright,
               and details about the encoding process.</p>
            
            <p>To ensure standardisation, specific structures were made mandatory within the
               <gi>teiHeader</gi>.</p>
         </div>
         
         <div>
            <head>The Frontmatter</head>
            
            <p>The digital edition is conceived just as a paper edition would be. As such, there is a frontmatter (<gi>front</gi>) and a backmatter (<gi>back</gi>).</p>
            <p>The frontmatter contains a list of persons (<gi>listPerson</gi>) that functions as <emph rend="italic">dramatis personae</emph>: each real-life person (<gi>person</gi>) is listed with their real-life name (<gi>persName</gi>, <gi>forename</gi> and <gi>surname</gi>) and the pseudonym they are given in the book. Each is identified by their Wikidata reference number (<gi>idno</gi>) for research purposes and referenced by a unique identifier (<gi>xml:id</gi>) that will be applied every time they are mentioned in the book.</p>
            <p>So far, only the characters mentioned in the extracts chosen for the sample edition are listed, but the full encoding would of course include all of them. There is also the idea of making two different <gi>listPerson</gi>s, one with the characters, and one with cultural and historical figures referenced by their real name in the text, such as poets and musicians.</p>
            <p>The <gi>front</gi> also includes a list of places (<gi>listPlace</gi>) that functions much like the list of persons but for geographical places. Each city, US state, or country is listed (<gi>placeName</gi>) and identified with an <gi>xml:id</gi>. Once again, this starter edition only includes the ones mentioned in the extracts, but it ought to be completed with the full books. A more complete edition might also identify the names of streets and more personal places such as restaurants, clubs, librairies, or appartments, and try connect those to their real-life geographic location. This might particularly prove to be a challenge in the case of <emph rend="italic">The Subterraneans</emph>, in which the action is set in San Francisco, but whose real events took place in New York. For each San Francisco street or jazz club, we might make use of specialist research to identify the equivalent New York places.</p>
            <p>A complete edition would also include a table of contents in the <gi>front</gi>, however, as only a small portion of the text is available here, it was not possible to implement that here. It could alternatively be in the<gi>back</gi>. Preface(s?) and timelines of events could also be included in the <gi>front</gi>.</p>
         </div>
         
         <div>
            <head>The Backmatter</head>
            
            <p>The backmatter (<gi>back</gi>), in the present starter edition, lists the three chosen books in the Duluoz Legend in bibliographic fashion. Each are given their own <gi>xml:id</gi>, which, while not applicable here, would be useful if Kerouac mentioned one of his novels in another one (<emph rend="italic">The Subterraneans</emph> is referenced in <emph rend="italic">Desolation Angels</emph>, for instance), or if other novels are mentioned in prefaces we might include. The complete edition would include all the others books, from <emph rend="italic">The Sea is my Brother</emph> to <emph rend="italic">Satori in Paris</emph>. We might also imagine annexes, such as maps, photographs, or letters sent between Kerouac and his friends.</p>
         </div>
         
         <div>
            <head>The novels themselves</head>
            
            <p>The text of the novel is structured by several types of <gi>div</gi> that represent the organisation of their content. As such, <gi>div1</gi> represents a part and <gi>div2</gi> a chapter, and are numbered according to the part of chapter number. There are no further subdivisions in the texts chosen here, but we might employ a <gi>div3</gi> and so on if need be.</p>
            <p>All characters that appeared in the text are encoded as <gi>persName</gi> (plus <gi>forename</gi> and <gi>surname</gi>) with reference to their <gi>xml:id</gi>, and the same goes for the places.</p>
         </div>   
            
         <div>
            <head>Encoding guide</head>
         <schemaSpec ident="oddbyexample" start="TEI ">
            
            <!-- Define at least 3 rules for the Assignement -->
            
            <!-- Rule 1: Constraining the use of an attribute and its value(s) -->
            <elementSpec ident="place" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="open">
                        <valItem ident="city"/>
                        <valItem ident="state"/>
                        <!-- The type of place has to be specified. It can be a city or a state in our extracts, but more could be added. -->
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            
            <!-- Rule 2: A rule constraining the sequence of certain elements (<content>); -->
            <elementSpec ident="persName" mode="change">
               <content>
                  <sequence>
                     <!-- When a persName is referenced, a first name is required -->
                     <elementRef key="forename" minOccurs="1"/>
                     <!-- The surname is optional -->
                     <elementRef key="surname" minOccurs="0"/>
                  </sequence>
               </content>
            </elementSpec>
           
            <!-- Rule 3: Constraining the value of an attribute based on its environment -->
            <elementSpec ident="listPerson" mode="change">
               <constraintSpec ident="personHasXml:id" scheme="schematron" type="SSK">
                  <constraint>
                     <sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:tei="http://www.tei-c.org/ns/1.0">
                        <sch:rule context="tei:listPerson/tei:person">
                           <sch:assert test="@xml:id" role="error">
                              Each person within the listPerson must have an xml:id attribute.
                           </sch:assert>
                        </sch:rule>
                     </sch:schema>
                  </constraint>
               </constraintSpec>
            </elementSpec>
            <!--End of rules-->
            
            <moduleRef key="tei"/>
            <!--Checking module textcrit-->
            <classRef key="att.textCritical"/>
            <classRef key="model.rdgLike"/>
            <classRef key="model.rdgPart"/>
            <classSpec ident="att.textCritical" type="atts" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="varSeq" mode="delete"/>
                  <attDef ident="require" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module msdescription-->
            <classRef key="model.physDescPart"/>
            <!--Checking module namesdates-->
            <classRef key="model.persNamePart"/>
            <moduleRef key="namesdates"
                       include="persName surname forename placeName listPerson listPlace person place"/>
            <elementSpec ident="persName" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="alias"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="surname" mode="change">
               <attList>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="forename" mode="change">
               <attList>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="placeName" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="listPerson" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="listPlace" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="person" mode="change">
               <attList>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="sex" mode="delete"/>
                  <attDef ident="gender" mode="delete"/>
                  <attDef ident="age" mode="delete"/>
               </attList>
            </elementSpec>
            
            <moduleRef key="namedates" include="persName forename"/>
           
            <!--Checking module dictionaries-->
            <classRef key="att.lexicographic"/>
            <classRef key="model.entryLike"/>
            <classRef key="model.formPart"/>
            <classRef key="model.gramPart"/>
            <classRef key="model.lexicalRefinement"/>
            <classRef key="model.morphLike"/>
            <classRef key="model.ptrLike.form"/>
            <classSpec ident="att.lexicographic" type="atts" mode="change">
               <attList>
                  <attDef ident="expand" mode="delete"/>
                  <attDef ident="split" mode="delete"/>
                  <attDef ident="value" mode="delete"/>
                  <attDef ident="location" mode="delete"/>
                  <attDef ident="mergedIn" mode="delete"/>
                  <attDef ident="opt" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module tagdocs-->
            <classRef key="att.combinable"/>
            <classRef key="att.identified"/>
            <classRef key="model.contentPart"/>
            <classSpec ident="att.combinable" type="atts" mode="change">
               <attList>
                  <attDef ident="mode" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.identified" type="atts" mode="change">
               <attList>
                  <attDef ident="ident" mode="delete"/>
                  <attDef ident="predeclare" mode="delete"/>
                  <attDef ident="module" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.ascribed.directed" type="atts" mode="change">
               <attList>
                  <attDef ident="toWhom" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.canonical" type="atts" mode="change">
               <attList>
                  <attDef ident="key" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.dimensions" type="atts" mode="change">
               <attList>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="precision" mode="delete"/>
                  <attDef ident="scope" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.damaged" type="atts" mode="change">
               <attList>
                  <attDef ident="agent" mode="delete"/>
                  <attDef ident="degree" mode="delete"/>
                  <attDef ident="group" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datable.w3c" type="atts" mode="change">
               <attList>
                  <attDef ident="notBefore" mode="delete"/>
                  <attDef ident="notAfter" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datable" type="atts" mode="change">
               <attList>
                  <attDef ident="period" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.divLike" type="atts" mode="change">
               <attList>
                  <attDef ident="org" mode="delete"/>
                  <attDef ident="sample" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.media" type="atts" mode="change">
               <attList>
                  <attDef ident="width" mode="delete"/>
                  <attDef ident="height" mode="delete"/>
                  <attDef ident="scale" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.naming" type="atts" mode="change">
               <attList>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="nymRef" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.typed" type="atts" mode="change">
               <attList>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing.group" type="atts" mode="change">
               <attList>
                  <attDef ident="domains" mode="delete"/>
                  <attDef ident="targFunc" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.segLike" type="atts" mode="change">
               <attList>
                  <attDef ident="function" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.timed" type="atts" mode="change">
               <attList>
                  <attDef ident="start" mode="delete"/>
                  <attDef ident="end" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.transcriptional" type="atts" mode="change">
               <attList>
                  <attDef ident="status" mode="delete"/>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="seq" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.personal" type="atts" mode="change">
               <attList>
                  <attDef ident="full" mode="delete"/>
                  <attDef ident="sort" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module core-->
            <moduleRef key="core"
                       include="p date head monogr author respStmt resp title imprint publisher pubPlace bibl biblStruct listBibl alias"/>
            <elementSpec ident="alias" mode="change">
               <attList>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="date" mode="change">
               <attList>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="head" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="section_title"/>
                        <valItem ident="title"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="author" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="respStmt" mode="change">
               <attList>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="resp" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="title" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="level" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="publisher" mode="change">
               <attList>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="pubPlace" mode="change">
               <attList>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="bibl" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="biblStruct" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="listBibl" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module figures-->
            <!--Checking module header-->
            <moduleRef key="header"
                       include="teiHeader fileDesc titleStmt editionStmt edition publicationStmt authority idno availability licence sourceDesc"/>
            <elementSpec ident="authority" mode="change">
               <attList>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="idno" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="wikidata"/>
                     </valList>
                  </attDef>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="wikidata"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="availability" mode="change">
               <attList>
                  <attDef ident="status" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="restricted"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="licence" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module gaiji-->
            <classRef key="att.gaijiProp"/>
            <classSpec ident="att.gaijiProp" type="atts" mode="change">
               <attList>
                  <attDef ident="name" mode="delete"/>
                  <attDef ident="value" mode="delete"/>
                  <attDef ident="version" mode="delete"/>
                  <attDef ident="scheme" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module verse-->
            <!--Checking module transcr-->
            <!--Checking module linking-->
            <!--Checking module analysis-->
            <classRef key="att.linguistic"/>
            <classSpec ident="att.linguistic" type="atts" mode="change">
               <attList>
                  <attDef ident="lemma" mode="delete"/>
                  <attDef ident="lemmaRef" mode="delete"/>
                  <attDef ident="pos" mode="delete"/>
                  <attDef ident="msd" mode="delete"/>
                  <attDef ident="join" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module textstructure-->
            <moduleRef key="textstructure" include="TEI text body div div1 div2 front back"/>
            <elementSpec ident="TEI" mode="change">
               <attList>
                  <attDef ident="version" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="text" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="novel"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="div" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="editorial"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="div1" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="part"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="div2" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="chapter"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
         </schemaSpec>
         </div>
      </body>
   </text>
</TEI>
